@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
.presupuesto {
  text-align: center;
  padding-top: 5px;
  background: #ffffff;
  font-family: "Merriweather Sans", arial, verdana;
  width: 100%;
  height: 30rem;
}

.hola {
  font-size: 4rem;
}

.breadcrumb {
  /*centering*/
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  counter-reset: flag;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/

.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
  /*to match with the parent's radius*/
}

.breadcrumb a:first-child:before {
  left: 14px;
}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/

.breadcrumb a.active,
.breadcrumb a:hover {
  background: #333;
  background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after,
.breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/

.breadcrumb a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width: 36px;
  height: 36px;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.9 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  /*stylish arrow design using box shadow*/
  box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4),
    3px -3px 0 2px rgba(255, 255, 255, 0.1);
  /*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#444, #222);
  font-weight: bold;
}

.flat a,
.flat a:after {
  background: white;
  color: black;
  transition: all 0.9s;
}

.flat a:before {
  background: white;
  box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover,
.flat a.active,
.flat a:hover:after,
.flat a.active:after {
  background: #86388f;
}

/* 
    ----------------footer--------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
* {
  font-family: Open Sans;
}

.footer-distributed {
  background: #4c1e51;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* --------------PRESPUESTO---------------- */

#paso1 {
  padding: 35px;
}

.pasos {
  padding: 30px;
}

/* ----------------------------form----------- */

.form-control {
  display: block;
  width: 100%;
  height: calc(4.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.9rem;
  line-height: 1.9;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin: 10px;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.9;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 10px;
}

input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 10px;
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(3.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.9rem;
  line-height: 1.9;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9;
  color: #66acf1;
  /* text-align: left; */
  background-color: #dfcae6;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #638aa8;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #8e319b;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

.team-area .single-cat .cat-cap p {
  color: #638aa8;
  font-size: 17px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin: 0;
  line-height: 1.9;
}

.p-portfolio {
  font-size: 2rem;
}

/* ----------------------SOBRE MI--------------- */

.section-tittle h2 {
  font-size: 44px;
  display: block;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 22px;
  color: #fff;
  padding-left: 10px;
  margin-left: 20px;
}

.imagen {
  width: 35rem;
  height: 35rem;
  vertical-align: middle;
  border-style: none;
  position: relative;
  background-color: #92999f;
}

.text-sobremi {
  font-size: 100%;
  text-size-adjust: 100%;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  background: 0px 0px;
  text-align: left;
  float: left;
}

.slider-area .hero__caption span {
  display: inline-block;
  color: #9f78ff;
  font-size: 35px;
  text-transform: inherit;
  margin-bottom: 15px;
}

.text-area {
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  color: #638aa8;
  font-size: 2rem;
  line-height: 30px;
  font-weight: normal;
  line-height: 1.4;
  margin-left: 20px;
}

.text-img {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10rem;
}

.section-bg1 {
  width: 100%;
}

/* -------------------------CONTACTO-------------- */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #ffffff;
  padding-top: 10px;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.icons a {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  background-color: #dfcae6;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 100px;
  padding-left: 30px;
}

.icons-a {
  width: 5rem;
  height: 5rem;
}

.pricing-card-area .single-card {
  background: #ffff;
  padding: 70px 0px;
  border-radius: 8px;
  height: 80rem;
}

.ul-presupuesto-1 {
  padding-top: 10rem;
}

.ul-presupuesto-2 {
  padding-top: 7rem;
}

.ul-presupuesto-3 {
  padding-top: 3rem;
}

.breadcrumb > .active {
  color: #000000;
}

* {
  font-family: "PT Sans Caption", sans-serif, "arial", "Times New Roman";
}

.presupuesto-button {
  background-color: white;
  width: auto;
  height: 50rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 0.4fr);
  gap: 2rem;
  margin-left: 20rem;
  margin-top: 5rem;
  padding-left: 15rem;
}

.content-button {
  border: 3px solid black;
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
  appearance: button;
  text-rendering: auto;
  background: linear-gradient(
    270deg,
    rgba(116, 42, 124, 1) 4%,
    rgba(57, 17, 61, 1) 74%
  );
  margin-left: 3rem;
}

.content-button:hover {
  transform: translate(10px);
  box-shadow: 0px 30px 5px -15px rgba(0, 0, 0, 0.6);
}
.button-img {
  width: 5rem;
  height: 5rem;
}

.title-presupuesto {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 4rem;
}
/* ------------SECCION BLOG--------- */

.body-blog {
  width: auto;
  height: 200rem;
  background-color: white;
}

.content {
  background-color: white;
  padding: 2.9rem;
  width: auto;
  height: auto;
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1rem;
}

.checkbox {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  box-sizing: border-box;
}

.checkbox + .label {
  cursor: pointer;
  display: inline-block;
  padding-left: 1.85rem;
  position: relative;
  font-size: 1.8rem;
  text-indent: 0.9rem;
}

.titulo-blog {
  font-size: 3rem;
}
.checkbox + .label:before {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #4c1e51;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  position: absolute;
  width: 18px;
}

.checkbox:checked + .label:before {
  background-color: #86388f;
  border-color: #86388f;
}

.checkbox:checked + .label:after {
  content: "\2713";
  color: white;
  display: inline-block;
  left: -6px;
  position: absolute;
  top: -5px;
}

.total {
  position: absolute;
  display: inline-block;
  margin-top: 30px;
  font-size: 30px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.form-control {
  display: block;
  width: 40rem;
  height: calc(3.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.9rem;
  line-height: 1.9;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #4c1e51;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 20px;
}

.form-control-lg {
  height: calc(2.875rem + 2px);
  padding: 0.9rem 1rem;
  font-size: 1.3rem;
  line-height: 1.9;
  border-radius: 0.3rem;
  border: 1px solid #86388f;
}

#boton {
  appearance: button;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #86388f;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: #86388f;
  border-image: initial;
  width: 12rem;
  height: 5rem;
  border-radius: 4rem;
}

.p-boton {
  color: #8e319b;
  margin: inherit;
}

#input {
  background-color: #fbfbfb;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  padding-left: 1.5rem;
  margin-bottom: 3rem;
}

.form-check-label {
  margin-bottom: 1rem;
  text-indent: 2rem;
  font-size: 1.5rem;
}
.blog-text {
  font-size: 2rem;
}

/* ----------INFO--------- */
.info {
  width: 2rem;
  height: 2rem;
}

.button-info {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: relative;
  margin-left: -2rem;
  margin-top: 2.5rem;
}

.button-info:hover {
  transform: translate(5px);
}
.content-text-info {
  width: 10rem;
  height: 5rem;
  background-color: #4c1e51af;
  display: none;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.info-text {
  color: black;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
}

/* --------------------------media query------------- */

@media (max-width: 500) {
  .presupuesto-button {
    height: 70rem;
  }
  .contact_form {
    width: 30rem;
    height: 110rem;
  }

  input {
    width: 22rem;
  }

  textarea {
    width: 22rem;
    height: 15rem;
  }

  #enviar {
    width: 10rem;
  }

  .imagen {
    width: 30rem;
    height: 30rem;
    vertical-align: bottom;
    margin-left: auto;
  }

  .text-img {
    gap: 2px;
    grid-template-columns: repeat(1);
  }

  .btn {
    margin-top: 20px;
  }

  .buttons {
    grid-template-columns: repeat(1, 0.2fr);
    gap: 1px;
    padding-left: 4rem;
    margin-left: 4rem;
  }
}

@media (min-width: 510) and (max-width: 850) {
  .presupuesto-button {
    height: 70rem;
    width: auto;
  }

  .buttons {
    grid-template-columns: repeat(2, 0.2fr);
    gap: 1px;
    padding-left: 1rem;
    margin-left: 1rem;
  }

  .text-img {
    gap: 2px;
    grid-template-columns: repeat(2);
  }
}
